.ex-filter-conteiner {
  display: flex;
  .el-select {
    --el-select-border-color-hover: 0;
    --el-select-input-focus-border-color: 0;
  }
  .ex-btn {
    margin-right: 1em;
    margin-bottom: 1em;
    box-shadow: 0px 0px 1px 1px #bab2b2;
    padding: 0.5em 0;
    border-radius: 5px;
  
    &.ex-filter-ptice {
      width: 140px;
    }
    > * {
      width: 180px;
    }
    .el-input__wrapper {
      box-shadow: 0 0 0;
      &:hover {
        box-shadow: 0 0 0;
        outline: none;
        border: 0;
      }
    }
    input {
      box-shadow: 0 0 0;
      &::placeholder {
        color: black;
        font-size: 1.5em;
        font-weight: 700;
      }
    }
  }
  .ex-filtr-rateing {
    box-shadow: 0px 1px 1px 0.5px #bab2b2;
    padding: 10px;
  }
}

.el-select-dropdown__item {
  path {
    fill: #ffbe5b;
  }
  // padding: 10px;
  // box-shadow: 0px 1px 1px 0.5px #bab2b2;
  // display: none;
}

.full-filter {
  background-color: aqua;
}
