.ex-carusel-main {
  max-width: 100%;
  margin: auto;
  .carousel__slide {
    width: 15% !important;
  }
}

.carousel__pagination {
  display: none;
}

.explore-category-carusel {
 
  margin: 10px 0;
  height: 160px;
  // width: 200px;
  width: 174px;
  box-shadow: 0 0px 5px 2px #e6dede;
  text-align: center;
  cursor: pointer;
  img {
    margin: 20x;
    height: 70px;
    width: 70px;
  }
  &:hover {
    box-shadow: 0 0px 15px 3px #e6dede;
    color: $clr1;
  }
}
