.explore-cards-conteiner {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 269px);
  justify-content: space-between;
  // gap: 8px;
  // margin: auto;
}

.carousel-card{
  width: 100%;
  height: 184px;
}

.explore-card {
  height: 388px;
  width: 308px;
  margin-bottom: 10px;
  border: 1px solid #efeff0;
  line-height: 1;
  &:hover {
    cursor: pointer;
    & .explore-card-title{
      color: $clr1;
    }
  }
  .img-gig {
    width: 100%;
    height: 184px;
  }

  .explore-grid-details {
    display: grid;
    height: 226px;
    //top l bt r
    padding: 11px 12px 10px 12px;
    grid-template-areas:
      "pic fullname . "
      "pic degree . "
      "title title title"
      "rate rate rate"
      "like . price";
    grid-template-columns: 35px 1fr 1fr;
    grid-template-rows: 16px 16px 70px 16px 20px;
    .explore-img-owner {
      grid-area: pic;
      border-radius: 50%;
      width: 26px;
      height: 26px;
      // margin: 0 auto;
    }
    .explore-card-name {
      grid-area: fullname;
      font-size: 1em;
    }
    .explore-card-degree {
      grid-area: degree;
    }
    .explore-card-title {
      grid-area: title;
      padding-top: 14px;
      // margin-top: 14px;
      height: max-content;
      line-height: 1.5;
    }
    .explore-card-rate {
      grid-area: rate;
      color: #ffbe5b;
      // padding-left: 10px;
      // padding-bottom: 10px;
      border-bottom: 1px solid #efeff0;
    }
    .explore-card-like {
      // margin: auto;
      align-self: center;
      grid-area: like;
      fill: #b5b6ba;
    }
    .explore-card-price {
      align-self: center;
      font-size: 1.2em;
      grid-area: price;
      text-align-last: end;
      line-height: 1.4;
      span {
        font-size: 0.5em;
      }
    }
  }
}
